<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post data</title>
</head>
<body>
    <h1>POST DATA</h1>

    <form action="/" method="post">
        <input type="text" name="BMW">
        <br>
        <input type="text" name = "Hummer">
        <br>
        <input type="checkbox" name="eated" id="">
        <label for="">Are you eated?</label>
        <br>
        <label for="">male</label><input type="radio" name="gender" value="male" id="">
        <label for="">female</label><input type="radio" name="gender" value="female" id="">
        <br></br>
        <label for="">country</label>
        <select name="country" id="">
            <option value="usa">USA</option>
            <option value="russia">Russia</option>
            <option value="china">China</option>
        </select>
        <button type="submit">send</button>
    </form>
</body>
</html>